.custom_form{
    margin-bottom: 60px;
}
.select2-container {
    display: inline;
}
.form-group.has-error {
    color: red;
}
.form-control.has-error {
    border: 1px solid red;
}
.error-block {
    color: red;
    font-weight: bold;
    display: block;
    margin: 10px 0 10px 0;
}
.delete-form{
    display: inline-block;
    margin-left: 5px;
}
.course_curriculum {
    line-height: 42px;
}
.course_curriculum h3 {
    display: inline-block;
}
.course_curriculum span{
    display: inline-block;
    float: right;
    line-height: 42px;
    cursor: pointer;
}

