.form-group.has-error {
    color: red;
}
.form-control.has-error {
    border: 1px solid red;
}
.error-block {
    color: red;
    font-weight: bold;
    display: block;
    margin: 10px 0 10px 0;
}
.delete-form{
    display: inline-block;
    margin-left: 5px;
}
